hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

footer {visibility: hidden;}
header {visibility: hidden;}

#header{
    margin-top: 0px;
    width:100%; 
}

div[data-testid="stVerticalBlock"] div:has(div.fixed-header) {
    position: sticky;
    top: 0.005rem;
    /* background-color: #0E1117; */
    background-color: #EFFAFD;
    overlay: true;
    z-index: 999;
    margin: 0px;
    padding: 6px;
    padding-top: 1px;
    padding-bottom: 0px;
}

h1 {
    display: inline-block;
}